{%- comment -%}
    Renders a product card
    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{%- endcomment -%}
{%- liquid
  assign purchase_btn = false 
  assign login_to_see = false
  if settings.enable_login_price == true and customer and  settings.enable_catalog_mode == false
    assign purchase_btn = true
    assign login_to_see = true
  elsif  settings.enable_login_price == false and settings.enable_catalog_mode == false
    assign purchase_btn = true
    assign login_to_see = true 
  elsif settings.enable_catalog_mode == true and settings.enable_login_price == false
    assign purchase_btn = false
    assign login_to_see = true
  elsif settings.enable_login_price == true  and  customer and  settings.enable_catalog_mode == true
    assign purchase_btn = false
    assign login_to_see = true
  elsif settings.enable_login_price == true  and settings.enable_catalog_mode == true
    assign purchase_btn = false
    assign login_to_see = false
  endif
-%}
<div class="box-inner">
    <div class="product-image position-relative overflow-hidden"> 
        {%- if show_image_slider == true -%}
          <div class="swiper product-image-slider" {% if slider_options %}data-slider-options='{{ slider_options }}'{% endif %}>
            <div class="swiper-wrapper">
              {%- for media in product_card_product.media -%}
                <div class="swiper-slide" data-meida-img-id="{{ media.id }}" image-index="{{ forloop.index }}">
                    <a href="{{ product_card_product.url }}" style="{{ style | strip | strip_newlines }} " aria-label="link"> 
                      {%- case media.media_type -%}
                        {% when 'image' %}    
                          {%- render 'responsive-image', image: media, placeholder_type: 'product-image', image_ratio: settings.product_image_ratio -%}
                      {%- endcase -%}
                    </a>
                </div> 
              {%- endfor -%}  
            </div>
          </div> 
        {%- else -%}  
          <a href="{{ product_card_product.url | default: '#'  }}" class="d-block" aria-label="product">
            {%- if product_card_product.media -%}
              {%- render 'responsive-image', media: product_card_product.media, type: 'product', placeholder_type: 'product-image', image_ratio: settings.product_image_ratio, show_secondary_image: show_secondary_image -%}
            {%- endif -%}
          </a>
        {%- endif -%}
        {%- render 'product-badge', product_for_badge: product_card_product -%}
        {%- unless product_card_style == 'shop-metro'-%}
          <div class="product-buttons-wrap alt-font">
            {%- unless purchase_btn == false -%}
              {%- if product_card_product.available == true -%}
                {%- if show_add_to_cart == true -%}
                  {%- if product_card_product.variants.size == 1 -%}
                    {%- assign selected_variant = product_card_product.selected_or_first_available_variant -%}
                    {%- if selected_variant.available == false -%}
                      <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" data-trigger="quickview" class="" aria-label="product">
                          <i class="feather-shopping-bag"></i>
                      <span class="btn-text" {% if product_card_style == 'shop-clean' or product_card_style == 'shop-simple' or product_card_style == 'shop-minimalist' %}data-text="{{ 'general.product_card_comman.select_options' | t }}"{% endif %}>{{ 'general.product_card_comman.select_options' | t }}</span></a>
                    {%- else -%}
                      <a href="/cart/add?id={{ selected_variant.id }}" class="" data-trigger="addtocart" data-variant="{{ selected_variant.id }}" aria-label="selected">
                      <i class="feather-shopping-bag"></i>
                      <span class="btn-text" {% if product_card_style == 'shop-clean' or product_card_style == 'shop-simple' or product_card_style == 'shop-minimalist' %}data-text="{% if product_card_style == 'shop-simple' %}{{ 'general.product_card_comman.shop_now' | t }}{% else %}{{ 'general.product_card_comman.add_to_cart' | t }}{% endif %}"{% endif %}>{% if product_card_style == 'shop-simple' %}{{ 'general.product_card_comman.shop_now' | t }}{% else %}{{ 'general.product_card_comman.add_to_cart' | t }}{% endif %}</span></a>
                    {%- endif -%}
                  {%- else -%}
                    <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" data-trigger="quickview" class="" aria-label="product"> 
                      <i class="feather-shopping-bag"></i>
                      <span class="btn-text" {% if product_card_style == 'shop-clean' or product_card_style == 'shop-simple' or product_card_style == 'shop-minimalist' %}data-text="{{ 'general.product_card_comman.select_options' | t }}"{% endif %}>{% if product_card_style == 'shop-clean' or  product_card_style == 'shop-simple' %}{{ 'general.product_card_comman.select_options' | t }}{% else %}{{ 'general.product_card_comman.select_options' | t }}{% endif %}</span>
                    </a>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                {%- if show_add_to_cart == true -%}
                  <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" data-trigger="quickview" class="" 
                  aria-label="product">
                    <i class="feather-shopping-bag"></i>
                      <span class="btn-text" {% if product_card_style == 'shop-clean' or product_card_style == 'shop-simple' or product_card_style == 'shop-minimalist' %}data-text="{{ 'general.product_card_comman.select_options' | t }}"{% endif %}>{{ 'general.product_card_comman.select_options' | t }}</span>
                  </a>
                {%- endif -%}
              {%- endif -%}
            {%- endunless -%}
            {%- unless product_card_style == 'shop-modern' or product_card_style == 'shop-minimalist' or product_card_style == 'shop-metro'-%}
              {%- if show_quickview == true -%}
                <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" class="hongo-quick-view" data-trigger="quickview" aria-label="quickview">
                  <i class="feather-eye"></i>
                  <span class="btn-text" {% if product_card_style == 'shop-clean' or product_card_style == 'shop-simple' %}data-text="{{ 'general.product_card_comman.quick_view' | t }}"{% endif %}>{{ 'general.product_card_comman.quick_view' | t }}</span>
                </a>
              {%- endif -%}
            {%- endunless -%}  
          </div> 
        {%- endunless -%}
        {%- if show_wishlist == true or show_compare == true -%}
          <div class="btn-action">
            {%- if show_wishlist == true -%}
                {%- render 'button-wishlist', product: product_card_product, tooltip_position: 'left', product_card_style: product_card_style, class: 'btn-animation' -%}
            {%- endif -%}
            {%- if  show_compare == true -%}
                <a href="#" rel="nofollow noopener" class="position-relative{% if product_card_style == 'shop-clean' %} btn-animation{% endif %}" data-compare="add" data-handle="{{ product_card_product.id }}" {% if product_card_style != 'shop-simple' %}data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Add to compare" data-bs-trigger="hover"{% endif %} aria-label="product">
                    <span class="btn-icon"><i class="feather-layers"></i></span>
                </a>
            {%- endif -%}
            {%- if product_card_style == 'shop-modern' or product_card_style == 'shop-minimalist' or product_card_style == 'shop-metro' -%}
                {%- if show_quickview == true -%} 
                    <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" class="position-relative hongo-quick-view btn-animation" data-trigger="quickview" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="{{ 'general.product_card_comman.quick_view' | t }}" data-bs-trigger="hover" aria-label="quickview">
                        <i class="feather-eye"></i>{%- unless product_card_style == 'shop-metro' -%}<span>{{ 'general.product_card_comman.quick_view' | t }}{%- endunless -%}</span>
                    </a>
                {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if show_deal_product == true -%}
          {%- render 'product-deal', product: product_card_product -%}
        {%- endif -%}
        {%- unless login_to_see == false -%}
          {%- if product_card_style == 'shop-simple' or  product_card_style == 'shop-metro' -%}
            <div class="product-option">
              {%- unless product_card_product.has_only_default_variant -%}
                {%- render 'product-card-options', product: product_card_product, render_from: 'card' -%}
              {%- endunless -%}
            </div>
          {%- endif -%}
        {%- endunless -%}
    </div>
    <div class="product-footer{% if product_card_style == 'shop-simple' %} text-center text-xl-start d-xl-flex{% endif %}{% if product_card_style == 'shop-metro' %} d-flex flex-column flex-xl-row{% endif %}">        
      {%- if product_card_style == 'shop-simple' -%}
        <div class="product-title-wrapper">
          <a href="{{ product_card_product.url | default: '#'  }}" class="product-title alt-font" aria-label="product">
            {{ product_card_product.title | escape }}
          </a>
          {%- if product_card_product.type != blank -%}
            <a href="/collections/all?filter.v.price.gte=&filter.v.price.lte=&filter.p.product_type={{ product_card_product.type | replace:' ','+'}}&sort_by=title-ascending" aria-label="vendor"><span class="product-type">{{ product_card_product.type }}</span></a>
          {% endif %}
          {%- if settings.show_product_rating == true or force_show_ratings == true -%}
            <div class="product-rating">
              {%- render 'product-card-rating-badge', product: product_card_product, review_app : review_app -%}
            </div>
          {%- endif -%}
        </div>
      {%- elsif product_card_style == 'shop-metro' -%}
        <div class="product-title-wrapper">
          <a href="{{ product_card_product.url | default: '#'  }}" class="product-title alt-font" aria-label="product">
            {{ product_card_product.title | escape }}
          </a>
          {%- if product_card_product.type != blank -%}
            <span class="product-type">{{ product_card_product.type }}</span>
          {% endif %}
          {%- render 'price', product: product_card_product, price_class: '', product_grid_style: product_card_style -%}
          {%- if settings.show_product_rating == true or force_show_ratings == true -%}
            <div class="product-rating">
              {%- render 'product-card-rating-badge', product: product_card_product, review_app : review_app -%}
            </div>
          {%- endif -%}
        </div>
        <div class="product-buttons-wrap alt-font">
          {%- unless purchase_btn == false -%}
            {%- if product_card_product.available == true -%}
              {%- if show_add_to_cart == true -%}
                {%- if product_card_product.variants.size == 1 -%}
                  {%- assign selected_variant = product_card_product.selected_or_first_available_variant -%}
                  {%- if selected_variant.available == false -%}
                    <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" data-trigger="quickview" class="" aria-label="product">
                        <i class="feather-shopping-bag"></i>
                    </a>
                  {%- else -%}
                    <a href="/cart/add?id={{ selected_variant.id }}" class="" data-trigger="addtocart" data-variant="{{ selected_variant.id }}" aria-label="selected">
                    <i class="feather-shopping-bag"></i>
                   </a>
                  {%- endif -%}
                {%- else -%}
                  <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" data-trigger="quickview" class="" aria-label="product"> 
                    <i class="feather-shopping-bag"></i>
                  </a>
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- if show_add_to_cart == true -%}
                <a href="#" rel="nofollow noopener" data-handle="{{ product_card_product.handle }}" data-trigger="quickview" class="" 
                aria-label="product">
                  <i class="feather-shopping-bag"></i>
                </a>
              {%- endif -%}
            {%- endif -%}
          {%- endunless -%}
        </div>
      {%- else -%}
        {%- if settings.show_product_rating == true or force_show_ratings == true -%}
          <div class="product-rating">
            {%- render 'product-card-rating-badge', product: product_card_product, review_app : review_app -%}
          </div>
        {%- endif -%}
        <a href="{{ product_card_product.url | default: '#'  }}" class="product-title alt-font" aria-label="product">
          {{ product_card_product.title | escape }}
        </a>
      {%- endif -%}
      {%- unless login_to_see == false -%}
      {%- unless product_card_style == 'shop-metro' -%}
        {%- render 'price', product: product_card_product, price_class: '', product_grid_style: product_card_style -%}
        {%- endunless -%}
        {%- unless product_card_product.has_only_default_variant or  product_card_style == 'shop-simple' or  product_card_style == 'shop-metro' -%}
            {%- render 'product-card-options', product: product_card_product, render_from: 'card' -%}
        {%- endunless -%}
      {%- endunless -%}
    </div>
    {%- unless disable_hover == true or product_card_style == 'shop-clean' or  product_card_style == 'shop-minimalist' or product_card_style == 'shop-simple' or product_card_style == 'shop-metro' -%}
      <div class="product-hover"></div>
    {%- endunless -%} 
</div>
