<section
  id="{{ section.settings.section_id }}"
  class="section-bg section-{{ section.id }} content-block section-{{ section.id }} {% if section.settings.section_show == false %}d-none{% endif %}{{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}">
  <div class="{{ section.settings.container_type }}">
    <div class="row align-items-end">
      {%- for block in section.blocks -%}
        {%- if block.settings.block_sub_title != blank
          or block.settings.block_title != blank
          or block.settings.block_description != blank
          or block.settings.btn_text != blank
        -%}
          <div class="col-md-{{ block.settings.column_width }} text-{{ block.settings.heading_alignment }} content-box">
            {%- if block.settings.block_sub_title != blank -%}
              <div class="section-sub-heading">{{ block.settings.block_sub_title }}</div>
            {%- endif -%}
            {%- if block.settings.block_title != blank -%}
              <h3 class="section-heading alt-font mb-0">{{ block.settings.block_title }}</h3>
            {%- endif -%}
            {%- if block.settings.block_description != blank -%}
              <div class="section-description">{{ block.settings.block_description }}</div>
            {%- endif -%}
            {%- render 'button-settings',
              btn_style: block.settings.button_style,
              btn_size: block.settings.button_size,
              btn_text: block.settings.btn_text,
              btn_link: block.settings.btn_link,
              btn_radius: block.settings.btn_radius,
              btn_border_width: block.settings.btn_border_width,
              btn_icon_class: block.settings.btn_icon_class,
              icon_position: block.settings.icon_position
            -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>
<style>
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      color: {{ section.settings.section_description_color }};
    }
  {%- endif -%}
</style>
{% schema %}
{
  "name": "Content block",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "use_default_section_typography",
      "label": "Use section typography from theme settings",
      "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
      "default": true
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "label": "Heading size",
      "unit": "px",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 45
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 35,
      "max": 95,
      "step": 1,
      "default": 55
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "label": "Sub heading size",
      "unit": "px",
      "min": 10,
      "max": 70,
      "step": 1,
      "default": 24
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "label": "Sub heading line height",
      "unit": "px",
      "min": 24,
      "max": 60,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "subheading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Sub heading letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No padding top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "color",
      "id": "section_sub_heading_color",
      "label": "Section sub heading color"
    },
    {
      "type": "color",
      "id": "section_description_color",
      "label": "Section description color"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Block title",
          "default": "Create functional and stylish modern interior"
        },
        {
          "type": "text",
          "id": "block_sub_title",
          "label": "Block subtitle",
          "default": "Excellent service"
        },
        {
          "type": "richtext",
          "id": "block_description",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sed eiusmod tempor and incididunt labore dolore magna aliqua. Ut enim minim commodo veniam, quis nostrud exercitation ullamco laboris nisi liquip tempor incididunt commodo eiusmod tempor.</p>"
        },
        {
          "type": "select",
          "id": "column_width",
          "label": "Column width",
          "default": "6",
          "info": "Total columns of whole block should not be more than 12 columns",
          "options": [
            {
              "value": "1",
              "label": "1 column - 1/12"
            },
            {
              "value": "2",
              "label": "2 columns - 1/6"
            },
            {
              "value": "3",
              "label": "3 columns - 1/4"
            },
            {
              "value": "4",
              "label": "4 columns - 1/3"
            },
            {
              "value": "5",
              "label": "5 columns - 5/12"
            },
            {
              "value": "6",
              "label": "6 columns - 1/2"
            },
            {
              "value": "7",
              "label": "7 columns - 7/12"
            },
            {
              "value": "8",
              "label": "8 columns - 2/3"
            },
            {
              "value": "9",
              "label": "9 columns - 3/4"
            },
            {
              "value": "10",
              "label": "10 columns - 5/6"
            },
            {
              "value": "11",
              "label": "11 columns - 11/12"
            },
            {
              "value": "12",
              "label": "12 columns - 1/1"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_alignment",
          "label": "Heading alignment",
          "default": "start",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "btn-black",
          "options": [
            {
              "value": "btn-black",
              "label": "Solid button black"
            },
            {
              "value": "btn-white",
              "label": "Solid button white"
            },
            {
              "value": "btn-base-color",
              "label": "Solid button base"
            },
            {
              "value": "btn-black-border",
              "label": "Border button black"
            },
            {
              "value": "btn-white-border",
              "label": "Border button white"
            },
            {
              "value": "btn-base-color-border",
              "label": "Border button base"
            },
            {
              "value": "btn-white-border border-opacity",
              "label": "Border opacity button white"
            },
            {
              "value": "btn-black-border border-opacity",
              "label": "Border opacity button black"
            },
            {
              "value": "btn-link btn-link-black",
              "label": "Underlined button black"
            },
            {
              "value": "btn-link btn-link-white",
              "label": "Underlined button white"
            },
            {
              "value": "btn-link btn-link-base-color",
              "label": "Underlined button base"
            },
            {
              "value": "btn-custom",
              "label": "Custom button"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button size",
          "default": "btn-small",
          "options": [
            {
              "value": "btn-extra-large",
              "label": "Extra Large"
            },
            {
              "value": "btn-large",
              "label": "Large"
            },
            {
              "value": "btn-medium",
              "label": "Medium"
            },
            {
              "value": "btn-small",
              "label": "Small"
            },
            {
              "value": "btn-very-small",
              "label": "Very Small"
            }
          ]
        },
        {
          "type": "range",
          "id": "btn_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Button radius",
          "default": 0
        },
        {
          "type": "range",
          "id": "btn_border_width",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Button border width",
          "default": 2
        },
        {
          "type": "text",
          "id": "btn_icon_class",
          "label": "Enter icon class",
          "info": "[Find feather icon](https://dropways.github.io/feathericons/) | [Find bootstrap icon](https://icons.getbootstrap.com/) | [Find fontawesome icon](https://fontawesome.com/icons)"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon position",
          "default": "right-icon",
          "options": [
            {
              "value": "left-icon",
              "label": "Left"
            },
            {
              "value": "right-icon",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content block",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
