<section
  id="{{ section.settings.section_id }}"
  class="section-bg section-{{ section.id }} {% if section.settings.section_show == false %}d-none{% endif %} {{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}">
  <div class="{{ section.settings.container_type }}">
    {%- if section.settings.heading != blank
      or section.settings.sub_heading != blank
      or section.settings.description != blank
    -%}
      <div class="row heading-wrapper title-{{ section.settings.title_style }} align-items-{% if section.settings.description != blank %}start{% else %}center{% endif %} text-center text-lg-start">
        {%- render 'section-title-style', heading_alignment: section.settings.heading_alignment -%}
      </div>
    {%- endif -%}
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div
          class="panel-group accordion-event accordion-style-{{ section.id }}"
          id="accordion-{{ section.id }}"
          data-active-icon="{{ section.settings.active_icon }}"
          data-inactive-icon="{{ section.settings.inactive_icon }}"
        >
          {%- for block in section.blocks -%}
            <div class="panel">
              {%- if block.settings.question != blank -%}
                <div class="panel-heading {% if block.settings.open == true %}active-accordion {% endif %}">
                  <a
                    class="accordion-toggle"
                    data-bs-toggle="collapse"
                    data-bs-parent="#accordion-{{ section.id }}"
                    href="#accordion-style-{{ section.id }}-{{ forloop.index }}"
                    aria-label="accordion"
                  >
                    <div class="panel-title">
                      <span class="d-inline-block">{{ block.settings.question }}</span>
                      <i
                        class="{% if block.settings.open == true %} {{ section.settings.active_icon }} {% else %} {{ section.settings.inactive_icon }} {% endif %}"
                      ></i>
                    </div>
                  </a>
                </div>
              {%- endif -%}
              {%- if block.settings.answer != blank -%}
                <div
                  id="accordion-style-{{ section.id }}-{{ forloop.index }}"
                  class="panel-collapse collapse {% if block.settings.open == true %}show{% endif %}"
                  data-bs-parent="#accordion-{{ section.id }}"
                >
                  <div class="panel-body">{{ block.settings.answer }}</div>
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      color: {{ section.settings.section_description_color }};
    }
  {%- endif -%}
</style>
{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "How can we help you?",
      "info": "Wrap word in square bracket for stylish word. e.g. [Hello] World"
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub heading"
      
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Frequently asked questions</p>"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "Title style",
      "default": "style-1",
      "options": [
        {
          "value": "style-1",
          "label": "Style-1"
        },
        {
          "value": "style-2",
          "label": "Style-2"
        },
        {
          "value": "style-3",
          "label": "Style-3"
        }
      ]
    },
    {
      "type": "text",
      "id": "inactive_icon",
      "label": "Inactive icon class",
      "info": "[Find feather icon](https://dropways.github.io/feathericons/) | [Find bootstrap icon](https://icons.getbootstrap.com/) | [Find fontawesome icon](https://fontawesome.com/icons)",
      "default": "feather-plus"
    },
    {
      "type": "text",
      "id": "active_icon",
      "label": "Active icon class",
      "info": "[Find feather icon](https://dropways.github.io/feathericons/) | [Find bootstrap icon](https://icons.getbootstrap.com/) | [Find fontawesome icon](https://fontawesome.com/icons)",
      "default": "feather-minus"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "use_default_section_typography",
      "label": "Use section typography from theme settings",
      "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
      "default": true
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 45
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 26,
      "max": 120,
      "step": 1,
      "default": 55
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 12,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Sub heading size",
      "default": 24
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "label": "Sub heading line height",
      "unit": "px",
      "min": 24,
      "max": 60,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "subheading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Sub heading letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No padding top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment ",
      "default": "center",
      "info": "Not applicable in title style-2",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "color",
      "id": "section_sub_heading_color",
      "label": "Section sub heading color"
    },
    {
      "type": "color",
      "id": "section_description_color",
      "label": "Section description color"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "faq-item",
      "name": "FAQ item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Lorem Ipsum is simply dummy text"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Lorem ipsum dolor consectetur adipiscing donec pellentesque varius suscipit varius felis volutpat tortor sodales sollicitudin dignissim mauris sapien mauris congue risus ullamcorper. Mauris gravida enim id pellentesque vehicula.</p>"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "Open tab by default",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq",
      "blocks": [
        {
          "type": "faq-item"
        },
        {
          "type": "faq-item"
        },
        {
          "type": "faq-item"
        },
        {
          "type": "faq-item"
        },
        {
          "type": "faq-item"
        }
      ]
    }
  ]
}
{% endschema %}
