<section id="{{ section.settings.section_id }}" class="section-bg featured-products-with-banner {% if section.settings.block_type == 'slider' %}slider{% endif %} section-{{ section.id }} {% if section.settings.section_show == false %}d-none{% endif %} {{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} {% if section.settings.section_bg_image != blank %}{{ section.settings.background_position }}{% endif %} d-md-block" style="{% if section.settings.section_bg_image != blank %}background-image: url({{ section.settings.section_bg_image | image_url }});{% elsif section.settings.section_gradient != blank %}--section_bg:{{ section.settings.section_gradient }};{% else section.settings.section_bg_color != blank %}--section_bg: {{ section.settings.section_bg_color }};{% endif %}">
  <div class="{{ section.settings.container_type }}">
    <div class="row {% if section.settings.left_product %} flex-row-reverse{% endif %}">
    	{%- if section.settings.banner_image != blank -%}
      	<div class="banner-image col-xl-3 col-md-4">
          {%- if section.settings.banner_url != blank -%}
            <a href="{{ section.settings.banner_url }}" aria-label="link">
          {%- endif -%}
            {%- render 'responsive-image', image: section.settings.banner_image, placeholder_type: 'simple-image' -%}
          {%- if section.settings.banner_url != blank -%}
            </a> 
          {%- endif -%}
      	</div>
    	{%- endif -%}
    	<div class="{% if section.settings.banner_image != blank %}col-xl-9 col-md-8{% else %}col-12{% endif %} product-wrapper">
        {%- if section.settings.heading != blank or section.settings.sub_heading != blank or section.settings.description != blank -%}
          <div class="row heading-wrapper title-{{ section.settings.title_style }} align-items-{% if section.settings.description != blank %}start{% else %}center{% endif %} text-center text-md-start">
            {%- liquid
              assign has_navigation = false
              render 'section-title-style', heading_alignment: section.settings.heading_alignment, product_with_banner: true
            -%}
            {%- capture btn-nav-html -%}
              {%- unless section.settings.title_style == 'style-1' -%}
                {%- if section.settings.block_type == 'grid' -%}
                  {%- if section.settings.show_view_all == true and section.settings.collection.all_products_count > section.settings.products_to_show and section.settings.block_type != 'slider' -%}
                    {%- render 'button-settings',
                      btn_style: section.settings.button_style,
                      btn_size: section.settings.button_size,
                      btn_text: section.settings.btn_text,
                      btn_link: section.settings.collection.url,
                      btn_radius: section.settings.btn_radius,
                      btn_border_width: section.settings.btn_border_width,
                      btn_icon_class: section.settings.btn_icon_class,
                      icon_position: section.settings.icon_position
                    -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endunless -%}
              {%- if section.settings.block_type == 'slider' and section.settings.show_navigation == true -%}
                <div class="navigation-wrapper d-flex">
                  <div class="swiper-button-prev"><i class="feather-chevron-left"></i></div>
                  <div class="swiper-button-next"><i class="feather-chevron-right"></i></div>
                </div>
                {%- assign has_navigation = true -%}
              {%- endif -%}
            {%- endcapture -%}
            {%- assign btn-nav-html = btn-nav-html | strip -%}
            {%- if btn-nav-html != '' -%}
              <div class="d-flex justify-content-center justify-content-md-{{ section.settings.heading_alignment }} {% if section.settings.title_style != 'style-1' %}col-md-auto{% endif %} title-style-btn position-relative{% if has_navigation == true %} has-navigation{% endif %}">
                {{ btn-nav-html }}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      	{%- capture collection_html -%}
  	      {%- assign products = section.settings.collection.products -%}
  	      {%- for product in products limit: section.settings.products_to_show -%}
  	        <div class="{% if section.settings.block_type == 'grid' %}col{% else %}swiper-slide{% endif %} product-box {{ settings.product_card_style }}">
  				{%- render 'product-card', product: product -%}
  	        </div>
  	      {%- else -%}
  	        {%- for i in (1..section.settings.products_to_show) -%}
  	          <div class="{% if section.settings.block_type == 'grid' %}col{% else %}swiper-slide{% endif %}">
  	            {%- render 'responsive-image', placeholder_type: 'product-image' -%}
                <div class="product-footer text-center placeholder-product">
                  <span class="product-title alt-font">{{ 'onboarding.product_title' | t }}</span>
                  <div class="price">{{ 5000 | money }}</div>
                </div>
  	          </div>
  	        {%- endfor -%}
  	      {%- endfor -%}
  	    {%- endcapture -%}
  	    {%- if section.settings.block_type == 'slider' -%}
  	      {%- capture sliderOptions -%}
  	        "loop": {{ section.settings.loop }},
  	        {%- if section.settings.autoplay == true -%}
  	        "autoplay": {
  	          "delay": {{ section.settings.auto_speed_delay }},
  	          "disableOnInteraction": false
  	        },
  	        {%- endif -%}
  	        "direction":"horizontal",  
  	        "navigation":{
  	            "nextEl":".section-{{ section.id }} .swiper-button-next",
  	            "prevEl":".section-{{ section.id }} .swiper-button-prev"
  	        },
  	        "keyboard":{ 
  	            "enabled":true,
  	            "onlyInViewport":true
  	        },
  	        "speed": 500,
  	        "spaceBetween": {{ section.settings.space_slide }},
  	        "breakpoints": { 
  	          "320": { "slidesPerView": {{ section.settings.slide_per_view_mobile }} },
  	          "768": { "slidesPerView": {{ section.settings.slide_per_view_tablet }} },
              "992": { "slidesPerView": {{ section.settings.slide_per_view_min_desktop }} },
  	          "1200": { "slidesPerView": {{ section.settings.slide_per_view_desktop }} }
  	        },
  	        "speed": {%- if section.settings.transition_speed != blank -%}{{ section.settings.transition_speed }}{%- else -%}500{%- endif -%}
  	      {%- endcapture -%}
  	      <div class="swiper {% if section.settings.show_magic_cursor == true %}magic-cursor{% endif %} magic-cursor-{{ section.settings.magic_cursor_color_scheme }}" data-slider-options='{ {{ sliderOptions }} }'>
  	        <div class="swiper-wrapper {{ settings.product_card_style }}">{{ collection_html }}</div>
  	      </div>
  	    {%- else -%}
  	      <div class="row row-cols-{{ section.settings.products_limit_mobile }} row-cols-md-{{ section.settings.products_limit_tablet }} row-cols-lg-{{ section.settings.products_limit_mini_desktop }} row-cols-xl-{{ section.settings.products_limit_desktop }} {{ settings.product_card_style }} product-grid">
  	        {{ collection_html }}
  	      </div>
  	    {%- endif -%}
        {%- if section.settings.show_view_all == true -%}
          <div class="row">
            <div class="col-12 load-view-btn-wrap text-center"> 
              {% if section.settings.show_view_all == true and section.settings.title_style == 'style-1' and section.settings.block_type != 'slider' and section.settings.collection.all_products_count > section.settings.products_to_show %}
                {%- render 'button-settings',
                  btn_style: section.settings.button_style,
                  btn_size: section.settings.button_size,
                  btn_text: section.settings.btn_text,
                  btn_link: section.settings.collection.url,
                  btn_radius: section.settings.btn_radius,
                  btn_border_width: section.settings.btn_border_width,
                  btn_icon_class: section.settings.btn_icon_class,
                  icon_position: section.settings.icon_position
                -%}
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
<style>  
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      color: {{ section.settings.section_description_color }};
    }
  {%- endif -%}
  {%- if section.settings.block_type == 'grid' -%}
    @media (min-width: 1200px) {
      .section-{{ section.id }} .product-box:nth-child(n+{{ section.settings.products_limit_desktop | plus: 1 }}) {
        margin-top: 30px;
      } 
    }
    @media (max-width: 1199px) {
      .section-{{ section.id }} .product-box:nth-child(n+{{ section.settings.products_limit_mini_desktop | plus: 1 }}) {
        margin-top: 30px;
      } 
    }
    @media (max-width: 991px) {
      .section-{{ section.id }} .product-box:nth-child(n+{{ section.settings.products_limit_tablet | plus: 1 }}) {
        margin-top: 30px;
      }
    }
    @media (max-width: 767px) {
      .section-{{ section.id }} .product-box:nth-child(n+{{ section.settings.products_limit_mobile | plus: 1 }}) {
        margin-top: 25px;
      }
    }
  {%- endif -%}
</style>
{% schema %}
  {
    "name": "Feature products & banner",
    "settings": [
      {
        "type": "select",
        "id": "container_type",
        "label": "Container type",
        "default": "container",
        "options": [
          {
            "value": "container-fluid",
            "label": "Container fluid"
          },
          {
            "value": "w-100 overflow-hidden",
            "label": "Full width"
          },
          {
            "value": "container",
            "label": "Container"
          }
        ]
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Week's highlights",
        "info": "Wrap word in square bracket for stylish word. e.g. [Hello] World"
      },
      {
        "type": "textarea",
        "id": "sub_heading",
        "label": "Sub heading"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "select",
        "id": "title_style",
        "label": "Title style",
        "default": "style-1",
        "options": [
          {
            "value": "style-1",
            "label": "Style-1"
          },
          {
            "value": "style-2",
            "label": "Style-2"
          },
          {
            "value": "style-3",
            "label": "Style-3"
          }
        ]
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner image",
        "info": "Recommended size 740x1070"
      },
      {
        "type": "url",
        "id": "banner_url",
        "label": "Banner url"
      },
      {
        "type": "checkbox",
        "id": "left_product",
        "label": "Show banner right side",
        "default": false
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 30,
        "step": 2,
        "default": 16,
        "label": "Total products to show"
      },
      {
        "type": "select",
        "id": "block_type",
        "label": "Products layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "slider",
            "label": "Slider"
          }
        ]
      },
      {
        "type": "header",
        "content": "Button Settings"
      },
      {
        "type": "paragraph",
        "content": "Applicable on when select grid in products layout"
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "Show 'View all' button"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn-black",
        "options": [
          {
            "value": "btn-black",
            "label": "Solid button black"
          },
          {
            "value": "btn-white",
            "label": "Solid button white"
          },
          {
            "value": "btn-base-color",
            "label": "Solid button base"
          },
          {
            "value": "btn-black-border",
            "label": "Border button black"
          },
          {
            "value": "btn-white-border",
            "label": "Border button white"
          },
          {
            "value": "btn-base-color-border",
            "label": "Border button base"
          },
          {
            "value": "btn-white-border border-opacity",
            "label": "Border opacity button white"
          },
          {
            "value": "btn-black-border border-opacity",
            "label": "Border opacity button black"
          },
          {
            "value": "btn-link btn-link-black",
            "label": "Underlined button black"
          },
          {
            "value": "btn-link btn-link-white",
            "label": "Underlined button white"
          },
          {
            "value": "btn-link btn-link-base-color",
            "label": "Underlined button base"
          },
          {
            "value": "btn-custom",
            "label": "Custom button"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_size",
        "label": "Button size",
        "default": "btn-medium",
        "options": [
          {
            "value": "btn-extra-large",
            "label": "Extra Large"
          },
          {
            "value": "btn-large",
            "label": "Large"
          },
          {
            "value": "btn-medium",
            "label": "Medium"
          },
          {
            "value": "btn-small",
            "label": "Small"
          },
          {
            "value": "btn-very-small",
            "label": "Very Small"
          }
        ]
      },
      {
        "type": "range",
        "id": "btn_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Button radius",
        "default": 0
      },
      {
        "type": "range",
        "id": "btn_border_width",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Button border width",
        "default": 2
      },
      {
        "type": "text",
        "id": "btn_icon_class",
        "label": "Enter icon class",
        "info": "[Find feather icon](https://dropways.github.io/feathericons/) | [Find bootstrap icon](https://icons.getbootstrap.com/) | [Find fontawesome icon](https://fontawesome.com/icons)"
      },
      {
        "type": "select",
        "id": "icon_position",
        "label": "Icon position",
        "default": "right-icon",
        "options": [
          {
            "value": "left-icon",
            "label": "Left"
          },
          {
            "value": "right-icon",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text",
        "default": "SHOP COLLECTION"
      },    
      {
        "type": "header",
        "content": "Grid Configuration"
      },
      {
        "type": "range",
        "id": "products_limit_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 5,
        "label": "Products per view desktop"
      },
      {
        "type": "range",
        "id": "products_limit_mini_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 5,
        "label": "Products per view mini desktop"
      },
      {
        "type": "range",
        "id": "products_limit_tablet",
        "label": "Products per view tablet",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "products_limit_mobile",
        "label": "Products per view mobile",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 2
      },
      {
        "type": "header",
        "content": "Slider Configuration"
      },
      {
        "type": "range",
        "id": "slide_per_view_desktop",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Products per view desktop",
        "default": 5
      },
      {
        "type": "range",
        "id": "slide_per_view_min_desktop",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Products per view mini desktop",
        "default": 3
      },
      {
        "type": "range",
        "id": "slide_per_view_tablet",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Products per view tablet",
        "default": 3
      },
      {
        "type": "range",
        "id": "slide_per_view_mobile",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Products per view mobile",
        "default": 1
      },
      {
        "type": "range",
        "id": "space_slide",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Space between two slide",
        "default": 15
      },
      {
        "type": "text",
        "id": "transition_speed",
        "label": "Transition speed",
        "default": "500",
        "info": "Enter slide speed time like 500, where 1000 = 1 second"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": true
      },
      {
        "type": "text",
        "id": "auto_speed_delay",
        "label": "Autoplay speed delay",
        "default": "2500",
        "info": "Enter delay time (before switching to other slide) like 500, where 1000 = 1 second"
      },
      {
        "type": "checkbox",
        "id": "show_magic_cursor",
        "label": "Show custom cursor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_navigation",
        "label": "Show navigation",
        "default": true
      },
      {
        "type": "select",
        "id": "magic_cursor_color_scheme",
        "label": "Custom cursor color scheme",
        "default": "base",
        "options": [
          {
            "value": "base",
            "label": "Base color"
          },
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Loop",
        "default": false
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "use_default_section_typography",
        "label": "Use section typography from theme settings",
        "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
        "default": true
      },
      {
        "type": "range",
        "id": "section_heading_size",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Heading size",
        "default": 45
      },
      {
        "type": "range",
        "id": "heading_line_height",
        "label": "Heading line height",
        "unit": "px",
        "min": 26,
        "max": 120,
        "step": 1,
        "default": 55
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "min": 12,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Sub heading size",
        "default": 24
      },
      {
        "type": "range",
        "id": "sub_heading_line_height",
        "label": "Sub heading line height",
        "unit": "px",
        "min": 24,
        "max": 60,
        "step": 1,
        "default": 30
      },
      {
        "type": "range",
        "id": "subheading_letter_spacing",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "unit": "px",
        "label": "Sub heading letter spacing",
        "default": 0
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "default": "small-section-top",
        "options": [
          {
            "value": "large-section-top",
            "label": "Large section"
          },
          {
            "value": "medium-section-top",
            "label": "Medium section"
          },
          {
            "value": "small-section-top",
            "label": "Small section"
          },
          {
            "value": "very-small-section-top",
            "label": "Very small section"
          },
          {
            "value": "pt-0",
            "label": "No padding top"
          }
        ]
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "default": "small-section-bottom",
        "options": [
          {
            "value": "large-section-bottom",
            "label": "Large section"
          },
          {
            "value": "medium-section-bottom",
            "label": "Medium section"
          },
          {
            "value": "small-section-bottom",
            "label": "Small section"
          },
          {
            "value": "very-small-section-bottom",
            "label": "Very small section"
          },
          {
            "value": "pb-0",
            "label": "No padding buttom"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment ",
        "default": "center",
        "info": "Not applicable in title style-2",
        "options": [
          {
            "value": "start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "section_show",
        "label": "Show section in mobile",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "section_bg_image",
        "label": "Section background image",
        "info": "Recommended size 1920x800"
      },
      {
        "type": "select",
        "id": "background_position",
        "label": "Background position",
        "options": [
          {
            "value": "cover-background",
            "label": "Cover"
          },
          {
            "value": "fixed-background",
            "label": "Fixed"
          }
        ],
        "default": "cover-background"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Section background color"
      },
      {
        "type": "color_background",
        "id": "section_gradient",
        "label": "Gradient background"
      },
      {
        "type": "color",
        "id": "section_heading_color",
        "label": "Section heading color"
      },
      {
        "type": "color",
        "id": "section_sub_heading_color",
        "label": "Section sub heading color"
      },
      {
        "type": "color",
        "id": "section_description_color",
        "label": "Section description color"
      },
      {
        "type": "text",
        "id": "element_id",
        "label": "Section ID"
      },
      {
        "type": "text",
        "id": "section_class_name",
        "label": "Section class name"
      }
    ],
    "presets": [
      {
        "name": "Feature products & banner"
      }
    ]
  }
{% endschema %}
