<section
  id="{{ section.settings.section_id }}"
  class="section-bg section-{{ section.id }} {% if section.settings.section_show == false %}d-none{% endif %} {{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}"
>
  <div class="{{ section.settings.container_type }}">
    {%- if section.settings.heading != blank
      or section.settings.sub_heading != blank
      or section.settings.description != blank
    -%}
      <div class="row heading-wrapper title-{{ section.settings.title_style }} align-items-{% if section.settings.description != blank %}start{% else %}center{% endif %} text-center text-lg-start">
        {%- render 'section-title-style', heading_alignment: section.settings.heading_alignment -%}
      </div>
    {%- endif -%}
    <div class="row row-cols-{{ section.settings.icon_limit_mobile }} row-cols-md-{{ section.settings.icon_limit_tablet }} row-cols-lg-{{ section.settings.icon_limit_mini_desktop }} row-cols-xl-{{ section.settings.icon_limit_desktop }} justify-content-start">
      {%- for block in section.blocks -%}
        {%- assign item = block.settings -%}
        {%- if section.settings.icon_with_text_styles == 'left-icon' -%}
          <div class="col text-{{ section.settings.content_alignment }} d-flex justify-content-start align-items-center featurebox featurebox-left-icon">
            {%- if section.settings.icon_option == 'icon' and section.settings.show_icon == true -%}
              {%- if item.icon_name != blank -%}
                <i
                  class="{{ item.icon_name }} {% if section.settings.icon_with_text_styles == 'left-icon' %}align-self-center{% endif %}"
                  style="font-size: {{ section.settings.icon_font_size }}px"
                ></i>
              {%- endif -%}
            {%- elsif section.settings.icon_option == 'image'
              and section.settings.icon_option != 'icon'
              and section.settings.show_icon == true
            -%}
              {%- if item.image_icon != blank -%}
                <img src="{{ item.image_icon | image_url }}" alt="" width="{{ item.image_icon.width }}" height="{{ item.image_icon.height }}" loading="lazy" style="width: {{ section.settings.image_size }}px;"> 
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'svg-placeholder position-static' }}
              {%- endif -%}
            {%- endif -%}
            <div class="box-content">
              {%- if item.heading_link and item.box_heading != blank -%}
                <a href="{{ item.heading_link }}" class="feature-box-title alt-font" aria-label="link">{{ item.box_heading }}</a>
              {%- else -%}
                {%- if item.box_heading != blank -%}
                  <div class="feature-box-title alt-font">{{ item.box_heading }}</div>
                {%- endif -%}
              {%- endif -%}
              {%- if item.box_sub_heading != blank -%}
                <div class="feature-box-sub-title">{{ item.box_sub_heading }}</div>
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
          <div class="col text-{{ section.settings.content_alignment }} d-flex flex-column justify-content-center align-items-{{ section.settings.content_alignment }} featurebox featurebox-center-icon">
            {%- if section.settings.icon_option == 'icon' and section.settings.show_icon == true -%}
              {%- if item.icon_name != blank -%}
                <i class="{{ item.icon_name }}" style="font-size: {{ section.settings.icon_font_size }}px"></i>
              {%- endif -%}
            {%- elsif section.settings.icon_option == 'image'
              and section.settings.icon_option != 'icon'
              and section.settings.show_icon == true
            -%}
              {%- if item.image_icon != blank -%}
                <img src="{{ item.image_icon | image_url }}" alt="" width="{{ item.image_icon.width }}" height="{{ item.image_icon.height }}" loading="lazy" style="width: {{ section.settings.image_size }}px;">
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'svg-placeholder position-static' }}
                {%- endif -%}
            {%- endif -%}
            {%- if item.heading_link and item.box_heading != blank -%}
              <a href="{{ item.heading_link }}" class="feature-box-title" aria-label="link">{{ item.box_heading }}</a>
            {%- else -%}
              {%- if item.box_heading != blank -%}
                <div class="feature-box-title alt-font">{{ item.box_heading }}</div>
              {%- endif -%}
            {%- endif -%}
            {%- if item.box_sub_heading != blank -%}
              <div class="feature-box-sub-title">{{ item.box_sub_heading }}</div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>
<style>
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      color: {{ section.settings.section_description_color }};
    }
  {%- endif -%}
  {%- if section.settings.icon_color != blank -%}
    .section-{{ section.id }} .featurebox i {
      color: {{ section.settings.icon_color }};
    }
  {%- endif -%}
  .section-{{ section.id }} .featurebox .feature-box-title {
    {%- if section.settings.text_color != blank -%}color: {{ section.settings.text_color }};{%- endif -%}
    font-size: {{ section.settings.title_font_size }}px;
    line-height: {{ section.settings.title_line_height }}px;
    margin-bottom: {{ section.settings.title_gap }}px;
  }
  .section-{{ section.id }} .featurebox .feature-box-sub-title {
    {%- if section.settings.small_text_color != blank -%}color: {{ section.settings.small_text_color }};{%- endif -%}
    width: {{ section.settings.sub_title_width }}%;
  }
  @media (min-width: 1200px) {
    .section-{{ section.id }} .featurebox:nth-child(n+{{ section.settings.icon_limit_desktop | plus: 1 }}) {
      margin-top: 80px;
    }
  }
  @media (max-width: 1199px) {
    .section-{{ section.id }} .featurebox:nth-child(n+{{ section.settings.icon_limit_mini_desktop | plus: 1 }}) {
      margin-top: 40px;
    }
  }
  @media (max-width: 991px) {
    .section-{{ section.id }} .featurebox:nth-child(n+{{ section.settings.icon_limit_tablet | plus: 1 }}) {
      margin-top: 30px;
    }
  }
  @media (max-width: 767px) {
    .section-{{ section.id }} .featurebox:nth-child(n+{{ section.settings.icon_limit_mobile | plus: 1 }}) {
      margin-top: 30px;
    }
  }
</style>
{% schema %}
{
  "name": "Icon with text",
  "settings": [    
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Wrap word in square bracket for stylish word. e.g. [Hello] World"
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "Title style",
      "default": "style-1",
      "options": [
        {
          "value": "style-1",
          "label": "Style-1"
        },
        {
          "value": "style-2",
          "label": "Style-2"
        },
        {
          "value": "style-3",
          "label": "Style-3"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon_with_text_styles",
      "label": "Icon with text styles",
      "default": "left-icon",
      "options": [
        {
          "value": "left-icon",
          "label": "Left icon"
        },
        {
          "value": "top-icon",
          "label": "Top Icon"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment ",
      "default": "start",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Box title font size",
      "default": 18
    },
    {
      "type": "range",
      "id": "title_line_height",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Box title line height",
      "default": 26
    },
    {
      "type": "range",
      "id": "title_gap",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Box title bottom gap",
      "default": 0
    },
    {
      "type": "range",
      "id": "sub_title_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Box subtitle width",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "show_icon",
      "label": "Show icon/image",
      "default": true
    },
    {
      "type": "radio",
      "id": "icon_option",
      "label": "Icon type",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "icon"
    },
    {
      "type": "range",
      "id": "image_size",
      "min": 9,
      "max": 300,
      "step": 3,
      "unit": "px",
      "label": "Icon image maximum width",
      "default": 48
    },
    {
      "type": "range",
      "id": "icon_font_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Icon size",
      "default": 42
    },
    {
      "type": "range",
      "id": "icon_limit_desktop",
      "label": "Icon box per view desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "icon_limit_mini_desktop",
      "label": "Icon box per view mini desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "icon_limit_tablet",
      "label": "Icon box per view tablet",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "icon_limit_mobile",
      "label": "Icon box per view mobile",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Heading color"
    },
    {
      "type": "color",
      "id": "small_text_color",
      "label": "Subtitle color"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "use_default_section_typography",
      "label": "Use section typography from theme settings",
      "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
      "default": true
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 45
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 26,
      "max": 120,
      "step": 1,
      "default": 55
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 12,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Sub heading size",
      "default": 24
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "label": "Sub heading line height",
      "unit": "px",
      "min": 24,
      "max": 60,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "subheading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Sub heading letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No padding top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding buttom"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment ",
      "default": "center",
      "info": "Not applicable in title style-2",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "color",
      "id": "section_sub_heading_color",
      "label": "Section sub heading color"
    },
    {
      "type": "color",
      "id": "section_description_color",
      "label": "Section description color"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": " Features box",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_icon",
          "label": "Image icon",
          "info": "Recommended size 45x45"
        },
        {
          "type": "text",
          "id": "icon_name",
          "label": "Enter icon class",
          "info": "[Find feather icon](https://dropways.github.io/feathericons/) | [Find bootstrap icon](https://icons.getbootstrap.com/) | [Find fontawesome icon](https://fontawesome.com/icons)",
          "default": "bi bi-box-seam"
        },
        {
          "type": "text",
          "id": "box_heading",
          "label": "Heading",
          "default": "Free shipping"
        },
        {
          "type": "richtext",
          "id": "box_sub_heading",
          "label": "Sub heading",
          "default": "<p>Standard shipping</p>"
        },
        {
          "type": "url",
          "id": "heading_link",
          "label": "Heading URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon with text",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
