{%- capture sliderOptions -%}
  "loop": true, 
  "autoplay": {
      "delay": 2500,
      "disableOnInteraction": false
  },
  "direction":"horizontal",  
  "navigation":{
      "nextEl":".section-{{ section.id }} .swiper-button-next",
      "prevEl":".section-{{ section.id }} .swiper-button-prev"
  },
  "keyboard":{
      "enabled":true,
      "onlyInViewport":true
  },
  "speed": 500,
  "spaceBetween": {{ section.settings.space_slide }},
  "breakpoints": { 
    "320": { "slidesPerView": {{ section.settings.slide_per_view_mobile }} },
    "768": { "slidesPerView": {{ section.settings.slide_per_view_tablet }} },
    "992": { "slidesPerView": {{ section.settings.slide_per_view_mini_desktop }} } ,
    "1200": { "slidesPerView": {{ section.settings.slide_per_view_desktop }} } 
  }
{%- endcapture -%}
<section id="{{ section.settings.section_id }}" class="section-bg image-gallery-slider overflow-hidden section-{{ section.id }} {% if section.settings.section_show == false %}d-none{% endif %}{{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block" style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}">
  <div class="{{ section.settings.container_type }}"> 
    {%- if section.settings.heading != blank or section.settings.sub_heading != blank or section.settings.description != blank -%}
		  <div class="row heading-wrapper title-{{ section.settings.title_style }} align-items-{% if section.settings.description != blank %}start{% else %}center{% endif %} text-center text-lg-start">
		    {%- render 'section-title-style', heading_alignment: section.settings.heading_alignment -%}
		  </div>
		{%- endif -%} 
      <div class="row">
        <div class="col-12 position-relative">
          <div class="image-gallery-outside-box-right">
	          <div class="swiper {% if section.settings.show_magic_cursor == true %}magic-cursor magic-cursor-{{ section.settings.magic_cursor_color_scheme }}{% endif %}" data-slider-options='{ {{ sliderOptions }} }'>
	            <div class="swiper-wrapper align-items-center">
	              {%- for block in section.blocks -%}
                  <div class="swiper-slide image-gallery-item">
                    {%- render 'responsive-image', image: block.settings.image, placeholder_type: 'simple-image' -%}
            			</div>
	              {%- endfor -%}
	            </div>                   
	          </div>
          </div>
          {%- if section.settings.show_navigation == true -%}
	          <div class="swiper-button-next"><i class="bi bi-arrow-right-short"></i></div>
	          <div class="swiper-button-prev"><i class="bi bi-arrow-left-short"></i></i></div>         
          {%- endif -%}
        </div>
      </div>
  </div>
</section>
<style>  
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      color: {{ section.settings.section_description_color }};
    }
  {%- endif -%}
</style>
{% schema %}
{
  "name": "Image gallery slider",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Wrap word in square bracket for stylish word. e.g. [Hello] World"
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "Title style",
      "default": "style-1",
      "options": [
        {
          "value": "style-1",
          "label": "Style-1"
        },
        {
          "value": "style-2",
          "label": "Style-2"
        },
        {
          "value": "style-3",
          "label": "Style-3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_magic_cursor",
      "label": "Show custom cursor",
      "default": true
    },
    {
      "type": "select",
      "id": "magic_cursor_color_scheme",
      "label": "Custom cursor color scheme",
      "default": "base",
      "options": [
        {
          "value": "base",
          "label": "Base color"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slider Configuration"
    },
    {
      "type": "range",
      "id": "slide_per_view_desktop",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Brands per view desktop",
      "default": 5
    },
    {
      "type": "range",
      "id": "slide_per_view_mini_desktop",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Brands per view mini desktop"
    },
    {
      "type": "range",
      "id": "slide_per_view_tablet",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Brands per view tablet",
      "default": 3
    },
    {
      "type": "range",
      "id": "slide_per_view_mobile",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Brands per view mobile",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_slide",
      "min": 1,
      "max": 50,
      "step": 1,
      "label": "Space between two slide",
      "default": 15
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show navigation",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "use_default_section_typography",
      "label": "Use section typography from theme settings",
      "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
      "default": true
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 45
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 26,
      "max": 120,
      "step": 1,
      "default": 55
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 12,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Sub heading size",
      "default": 24
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "label": "Sub heading line height",
      "unit": "px",
      "min": 24,
      "max": 60,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "subheading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Sub heading letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No padding top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment ",
      "default": "center",
      "info": "Not applicable in title style-2",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "color",
      "id": "section_sub_heading_color",
      "label": "Section sub heading color"
    },
    {
      "type": "color",
      "id": "section_description_color",
      "label": "Section description color"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "gallery-item",
      "name": "Gallery item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommended size 365x485"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image gallery slider",
      "blocks": [
        {
          "type": "gallery-item"
        },
        {
          "type": "gallery-item"
        },
        {
          "type": "gallery-item"
        },
        {
          "type": "gallery-item"
        },
        {
          "type": "gallery-item"
        },
        {
          "type": "gallery-item"
        }
      ]
    }
  ]
}
{% endschema %}
