<div class="section-bg customer reset-password small-section-bottom" style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">        
        <div class="reset-text">{{ 'customer.reset_password.subtext' | t: email: email }}</div>
        {%- form 'reset_customer_password' -%}
          {%- if form.errors -%}            
            <div class="form-error alert alert-danger">
              {%- for field in form.errors -%}
                <span>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </span>
              {%- endfor -%}
            </div>
          {%- endif -%}
          <div class="field">      
            <label for="password">
              {{ 'customer.reset_password.password' | t }}
            </label>
            <input
              type="password"
              name="customer[password]"
              id="password"
              autocomplete="new-password"
              {%- if form.errors contains 'password' -%}
                aria-invalid="true"
                aria-describedby="password-error"
              {% endif %}
              placeholder="{{ 'customer.reset_password.password' | t }}"
            >            
          </div>
          <div class="field">      
            <label for="password_confirmation">
              {{ 'customer.reset_password.password_confirm' | t }}
            </label>
            <input
              type="password"
              name="customer[password_confirmation]"
              id="password_confirmation"
              autocomplete="new-password"
              {%- if form.errors contains 'password_confirmation' -%}
                aria-invalid="true"
                aria-describedby="password_confirmation-error"
              {% endif %}
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
            >            
          </div>
          <button class="btn btn-black btn-medium">{{ 'customer.reset_password.submit' | t }}</button>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Reset password",
    "settings": [
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color"
      },
      {
        "type": "color_background",
        "id": "section_gradient",
        "label": "Gradient background"
      }
    ]
  }
{% endschema %}
