<section
  class="section-bg page-404 text-center medium-section-top medium-section-bottom"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.bg_color }}{% endif %}"
>
  <div class="container">
    <h1
      class="alt-font"
      {% if section.settings.title_color != blank %}
        style="color: {{ section.settings.title_color }};"
      {% endif %}
    >
      {{ 'templates.404.subtext' | t }}
    </h1>
    <div
      class="sub-title alt-font"
      {% if section.settings.sub_title_color != blank %}
        style="color: {{ section.settings.sub_title_color }};"
      {% endif %}
    >
      {{ 'templates.404.title' | t }}
    </div>
    <a href="{{ routes.root_url }}" class="btn btn-medium btn-black" aria-label="{{ 'general.continue_shopping' | t -}}">
      <i class="feather-arrow-left left-icon"></i>{{ 'general.continue_shopping' | t -}}
    </a>
  </div>
</section>
{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color"
    },
    {
      "type": "color",
      "id": "sub_title_color",
      "label": "Subtitle color"
    }
  ]
}
{% endschema %}
