{{ 'blog-card.min.css' | asset_url | stylesheet_tag }}
{{ 'article.min.css' | asset_url | stylesheet_tag }}
{%- if settings.article_card_style == 'modern' -%}
  {{ 'blog-card-modern.min.css' | asset_url | stylesheet_tag }}
{%- else -%}
  {{ 'blog-card-classic.min.css' | asset_url | stylesheet_tag }}
{%- endif -%}
<section
  id="{{ section.settings.element_id }}"
  class="section-bg section-{{ section.id }} {% if section.settings.section_show == false %}d-none{% endif %} {{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block blog-article"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}"
>
  <div class="{{ section.settings.container_type }}">
    <div class="row {% if section.settings.show_sidebar and section.settings.sidebar_placement == 'left-column' %}flex-row-reverse{% endif %}">
      <div class="{%- if section.settings.show_sidebar == true -%}col-lg-8 {% elsif section.settings.show_sidebar == false %}col-12{% endif %}">
        <div class="article-detail-wrap">
          <h1 class="h-4 alt-font">{{ article.title }}</h1>
          {%- if section.settings.article_excerpt -%}
            <p>{{ article.excerpt }}</p>
          {%- endif -%}
          <div class="article-info d-md-flex align-items-center">
            {%- if section.settings.show_articles_catagory -%}
              <a class="article-category" href="{{ blog.url }}" aria-label="blog">{{ blog.title }}</a>
            {%- endif -%}
            <div class="article-author">
              <i class="feather-user"></i>
              <span class="author-name">{{ article.author }}</span> on
              <span class="published-date">{{ article.published_at | date: '%d %B %Y' }}</span>
            </div>
            {%- if blog.comments_enabled? and section.settings.show_articles_comments -%}
              <div class="comments">
                <a href="#" data-scroll-to="#comment-from-wrapper" aria-label="{{- 'blogs.article.comments' | t: count: article.comments_count -}}">
                  <i class="feather-message-circle"></i>
                  {{- 'blogs.article.comments' | t: count: article.comments_count -}}
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>
        {%- if section.settings.show_featured_img -%}
          <div class="article-image position-relative d-flex flex-column justify-content-center">
            {%- render 'responsive-image', image: article.image, placeholder_type: 'simple-image' -%}
          </div>
        {%- endif -%}
        <div class="article-content">
          {{ article.content }}
        </div>
        {%- if section.settings.show_article_tag or  section.settings.show_social_share -%}
          <div class="tag-share-wrap d-md-flex align-items-center">
            {%- if section.settings.show_article_tag -%}
              <div class="article-tags me-auto">
                <label class="alt-font"><i class="bi bi-tag-fill"></i>{{ 'sections.main_article.tag_label' | t }}</label>
                {%- if article.tags.size > 0 -%}
                  {%- for tag in article.tags -%}
                    <a class="tag" href="{{ blog.url }}/tagged/{{ tag | handle }}" aria-label="tag">{{ tag }}</a>
                    {%- unless forloop.last %},{% endunless %}
                  {%- endfor -%}
                {%- endif -%}
              </div>
            {%- endif -%}
            {%- if section.settings.show_social_share -%}
              {%- capture social_sharing_capture -%}
                {%- render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image, style_class: 'social-icon-style-02' -%}
              {%- endcapture -%}
              {%- assign social_sharing = social_sharing_capture | strip -%}
              {%- if social_sharing != blank and social_sharing != '' -%}
                <div class="article-share d-flex">
                  <label class="alt-font">{{ 'sections.main_article.share_label' | t }}</label>
                  {{- social_sharing -}}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="article-next-prev d-sm-flex{% if blog.previous_article == null %} justify-content-end{% endif %}">
          {%- if blog.previous_article != null -%}
            <a
              class="position-relative d-flex align-items-center previous-post {% if blog.next_article == null %}border-0{% endif %} alt-font"
              href="{{ blog.previous_article.url }}" aria-label="blog"
            >
              <span class="d-flex align-items-center justify-content-center">
                <i class="bi bi-arrow-left-short d-flex"></i>
              </span>
              <div>{{ blog.previous_article.title }}</div>
            </a>
          {%- endif -%}
          {%- if blog.next_article != null -%}
            <a
              class="position-relative d-flex align-items-center next-post text-sm-end alt-font"
              href="{{ blog.next_article.url }}" aria-label="blog"
            >
              <div class="ms-auto align-middle">{{ blog.next_article.title }}</div>
              <span class="d-flex align-items-center justify-content-center">
                <i class="bi bi-arrow-right-short d-flex"></i>
              </span>
            </a>
          {%- endif -%}
        </div>
        {%- if blog.comments_enabled? -%}
          <div class="comment-from-wrapper" id="comment-from-wrapper">
            <div id="comments">
              {%- if article.comments_count > 0 -%}
                {%- assign anchorId = '#Comments-' | append: article.id -%}
                <h6 class="comments-count alt-font" id="Comments-{{ article.id }}" tabindex="-1">
                  {{ 'blogs.article.comments' | t: count: article.comments_count }}
                </h6>
                {%- paginate article.comments by 4 -%}
                  <ul class="article-comments">
                    {%- if comment.status == 'pending' and comment.content -%}
                      <li id="{{ comment.id }}">
                        <span class="article-author alt-font">{{ comment.author }}</span>
                        {{ comment.content }}
                      </li>
                    {%- endif -%}
                    {%- for comment in article.comments -%}
                      <li id="{{ comment.id }}" class="d-flex">
                        <div class="avtar d-flex justify-content-center align-items-center rounded-circle">
                          <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="comment-content">
                          {{ comment.content }}
                          <div class="article-detail d-flex flex-wrap align-items-center">
                            <span class="article-author alt-font">{{ comment.author }}</span>
                            <div class="article-date d-flex align-items-center">
                              {{ comment.created_at | date: '%B %d %Y' }}
                            </div>
                          </div>
                        </div>
                      </li>
                    {%- endfor -%}
                  </ul>
                  {%- render 'pagination', paginate: paginate, anchor: anchorId -%}
                {%- endpaginate -%}
              {%- endif -%}
              {%- form 'new_comment', article -%}
                {%- liquid
                  assign post_message = 'blogs.article.success'
                  if blog.moderated? and comment.status == 'unapproved'
                    assign post_message = 'blogs.article.success_moderated'
                  endif
                -%}
                <h6 class="alt-font">{{ 'blogs.article.comment_form_title' | t }}</h6>
                {%- if form.errors -%}
                  <ul class="form-status-list">
                    {%- for field in form.errors -%}
                      <li>
                        <i class="bi bi-exclamation-circle-fill"></i>
                        <a href="#CommentForm-{{ field }}" class="link" aria-label="form">
                          {%- if form.errors.translated_fields[field] contains 'author' -%}
                            {{ 'blogs.article.name' | t | capitalize }}
                          {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                            {{ 'blogs.article.message' | t | capitalize }}
                          {%- else -%}
                            {{ form.errors.translated_fields[field] | capitalize }}
                          {%- endif -%}
                          {{ form.errors.messages[field] }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- elsif form.posted_successfully? -%}
                  <div class="successful-message" role="status">
                    <h6 tabindex="-1"><i class="bi bi-patch-check-fill"></i> {{ post_message | t }}</h6>
                  </div>
                {%- endif -%}
                <div
                  {%- if blog.moderated? == false -%}
                    class="article-fields-wrap"
                  {%- endif -%}
                >
                  <div class="article-comment-fields d-md-flex">
                    <div class="field">
                      <label class="alt-font" for="CommentForm-author">{{ 'blogs.article.name' | t }}*</label>
                      <input
                        type="text"
                        name="comment[author]"
                        id="CommentForm-author"
                        class="{%- if form.errors contains 'author' -%}error{%- endif -%}"
                        autocomplete="name"
                        value="{{ form.author }}"
                        aria-required="true"
                        required
                        {% if form.errors contains 'author' %}
                          aria-invalid="true"
                          aria-describedby="CommentForm-author-error"
                        {% endif %}
                      >
                    </div>
                    <div class="field ms-auto">
                      <label class="alt-font" for="CommentForm-email">{{ 'blogs.article.email' | t }}*</label>
                      <input
                        type="email"
                        name="comment[email]"
                        id="CommentForm-email"
                        autocomplete="email"
                        class="{%- if form.errors contains 'email' -%}error{%- endif -%}"
                        value="{{ form.email }}"
                        autocorrect="off"
                        autocapitalize="off"
                        aria-required="true"
                        required
                        {% if form.errors contains 'email' %}
                          aria-invalid="true"
                          aria-describedby="CommentForm-email-error"
                        {% endif %}
                      >
                    </div>
                  </div>
                  <div class="field">
                    <label class="alt-font" for="CommentForm-body">{{ 'blogs.article.message' | t }}*</label>
                    <textarea
                      rows="3"
                      name="comment[body]"
                      id="CommentForm-body"
                      class="text-area  {% if form.errors contains 'body' %} error{% endif %}"
                      aria-required="true"
                      required
                      {% if form.errors contains 'body' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-body-error"
                      {% endif %}
                    >{{ form.body }}</textarea>
                  </div>
                </div>
                {%- if blog.moderated? -%}
                  <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
                {%- endif -%}
                <div class="comment-btn-wrap d-sm-flex align-items-center">
                  <input type="submit" class="btn btn-medium btn-black" value="{{ 'blogs.article.post' | t }}">
                  <span>{{ 'sections.main_article.email_field_required_label' | t }}</span>
                </div>
              {%- endform -%}
            </div>
          </div>
        {%- endif -%}
      </div>
      {%- if section.settings.show_sidebar -%}
        <div class="col-lg-4 blog-sidebar">
          <div class="sidebar-inner position-sticky">
            {%- render 'blog-sidebar' -%}
          </div>
        </div>
      {%- endif -%}
    </div>
    {%- if section.settings.show_related_articles -%}
      {%- if section.settings.heading != blank -%}
        <div class="row heading-wrapper">
          <div class="col-12 text-{{ section.settings.heading_alignment }}">
            <h3 class="section-heading alt-font">{{ section.settings.heading }}</h3>
          </div>
        </div>
      {%- endif -%}
      <div class="row row-cols-{{ section.settings.post_limit_mobile }} row-cols-md-{{ section.settings.post_limit_tablet }} row-cols-lg-{{ section.settings.post_limit_mini_desktop }} row-cols-xl-{{ section.settings.post_limit_desktop }} blog-{{ settings.article_card_style }}">
        {%- render 'related-article' -%}
      </div>
    {%- endif -%}
  </div>
</section>
<style>
  {%- if section.settings.section_heading_size != settings.heading_size or section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      {%- if section.settings.section_heading_color != blank -%}color: {{ section.settings.section_heading_color }};{%- endif -%}
      {%- if section.settings.section_heading_size != blank -%}font-size: {{ section.settings.section_heading_size }}px;{%- endif -%}
          {%- if section.settings.heading_line_height != blank -%}line-height: {{ section.settings.heading_line_height }}px;{%- endif -%}
    }
  {%- endif -%}
  {%- if section.settings.sub_heading_size != settings.sub_heading_size or section.settings.subheading_letter_spacing != settings.sub_heading_letter_spacing or section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      {%- if section.settings.section_sub_heading_color != blank -%}color: {{ section.settings.section_sub_heading_color }};{%- endif -%}
      {%- if section.settings.sub_heading_size != settings.sub_heading_size -%}font-size: {{ section.settings.sub_heading_size }}px;{%- endif -%}
      {%- if section.settings.subheading_letter_spacing != settings.sub_heading_letter_spacing -%}letter-spacing: {{ section.settings.subheading_letter_spacing }}px;{%- endif -%}
    }
  {%- endif -%}
  {%- if section.settings.description_size != settings.description_size or section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      {%- if section.settings.section_description_color != blank -%}color: {{ section.settings.section_description_color }};{%- endif -%}
      {%- if section.settings.description_size != settings.description_size -%}font-size: {{ section.settings.description_size }}px;{%- endif -%}
    }
  {%- endif -%}
  @media (min-width: 992px) {
    .section-{{ section.id }} .blog-item:nth-child(n+{{ section.settings.post_limit_desktop | plus: 1 }}) {
      margin-top: 30px;
    }
  }
  @media (max-width: 1199px) {
    .section-{{ section.id }} .blog-item:nth-child(n+{{ section.settings.post_limit_mini_desktop | plus: 1 }}) {
      margin-top: 30px;
    }
  }
  @media (max-width: 991px) {
    .section-{{ section.id }} .blog-item:nth-child(n+{{ section.settings.post_limit_tablet | plus: 1 }}) {
      margin-top: 30px;
    }
  }
  @media (max-width: 767px) {
    .section-{{ section.id }} .blog-item:nth-child(n+{{ section.settings.post_limit_mobile | plus: 1 }}) {
      margin-top: 30px;
    }
  }
</style>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
{% assign image_size = article.image.width %}
    "image": [
      {{ article | image_url: width: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if page_image %}
{% assign image_size = page_image.width %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ page_image.height | json }},
        "url": {{ page_image | image_url: width: image_size | prepend: "https:" | json }},
        "width": {{ page_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>
{% schema %}
{
  "name": "t:sections.main-article.name",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sidebar settings"
    },
    {
      "type": "checkbox",
      "id": "show_sidebar",
      "label": "Show sidebar",
      "default": true
    },
    {
      "type": "select",
      "id": "sidebar_placement",
      "options": [
        {
          "value": "left-column",
          "label": "Left column"
        },
        {
          "value": "right-column",
          "label": "Right column"
        }
      ],
      "default": "left-column",
      "label": "Position"
    },
    {
      "type": "header",
      "content": "Article settings"
    },
    {
      "type": "checkbox",
      "id": "show_related_articles",
      "label": "Show related articles",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_articles_catagory",
      "label": "Show article category",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_articles_comments",
      "label": "Show article comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_featured_img",
      "label": "Show featured image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "article_excerpt",
      "label": "Show excerpt",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_social_share",
      "default": true,
      "label": "Show social share"
    },
    {
      "type": "checkbox",
      "id": "show_article_tag",
      "default": true,
      "label": "Show articles tag"
    },
    {
      "type": "header",
      "content": "Related article settings"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment ",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 45
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 26,
      "max": 120,
      "step": 1,
      "default": 55
    },
    {
      "type": "paragraph",
      "content": "Posts per row"
    },
    {
      "type": "range",
      "id": "post_limit_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Desktop"
    },
    {
      "type": "range",
      "id": "post_limit_mini_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Mini desktop"
    },
    {
      "type": "range",
      "id": "post_limit_tablet",
      "label": "Tablet",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "post_limit_mobile",
      "label": "Mobile",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Number of posts to show",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No Padding Top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "text",
      "id": "element_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "categories",
      "name": "Categories",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "category_menu",
          "label": "Select categories menu"
        }
      ]
    },
    {
      "type": "recent-post",
      "name": "Recent post",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "blog",
          "id": "recent_post",
          "label": "Select blog"
        },
        {
          "type": "range",
          "id": "post_limit",
          "label": "Number of posts to show",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "label": "Show date",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "label": "Show author",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "blog_show_excerpt",
          "label": "Show excerpt",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "blog_show_tags",
          "label": "Show tags",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "truncate_excerpt",
          "label": "Truncate excerpt",
          "default": true
        },
        {
          "type": "text",
          "id": "truncate_word",
          "label": "Show words",
          "info": "Please enter integer number",
          "default": "8"
        }
      ]
    },
    {
      "type": "tags",
      "name": "Tags",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    },
    {
      "type": "instagram",
      "name": "Instagram",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "number",
          "id": "count",
          "default": 6,
          "label": "No. of images to show"
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "banenr_image",
          "label": "Banner image",
          "info": "Recommended size 500x700"
        },
        {
          "type": "url",
          "id": "banner_url",
          "label": "Banner URL"
        }
      ]
    }
  ]
}
{% endschema %}
