<section
  class="section-bg password-page-wrap {% if section.settings.section_bg_image != blank %}{{ section.settings.background_position }}{% endif %}"
  style="{% if section.settings.section_bg_image != blank %}background-image: url({{ section.settings.section_bg_image | image_url }});{% endif %}--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}"
>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-7 col-xl-6 password-wrap">
        {%- if section.settings.logo_image != blank and section.settings.show_logo == true -%}
          <img
            class="pwd-page-logo"
            src="{{ section.settings.logo_image | image_url }}"
            alt="{{ section.settings.logo_image.alt }}"
            width="auto"
            height="auto"
            loading="lazy"
            style="max-width: {{ section.settings.logo_max_width }}px;"
          >
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <h1 class="password-title alt-font">{{ section.settings.title }}</h1>
        {%- endif -%}
        {%- if section.settings.description != blank -%}
          <p>{{ section.settings.description }}</p>
        {%- endif -%}
        {%- if section.settings.show_nl == true -%}
          {%- if section.settings.newsletter_title != blank -%}
            <div class="newsletter-label alt-font">{{ section.settings.newsletter_title }}</div>
          {%- endif -%}

          {%- form 'customer', class: 'password-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="d-inline-block position-relative w-100">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="mb-0 {% if form.errors %}error{% endif %}"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Newsletter-error--{{ section.id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Newsletter-success--{{ section.id }}"
                {% endif %}
                placeholder="{{ section.settings.email_placeholder }}"
                required
              >
              <button type="submit" class="btn alt-font">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 512 512">
                  <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                </svg>{{ section.settings.nl_btn_text }}
              </button>
            </div>
            {%- if form.posted_successfully? -%}
              <div class="newsletter-msg success">
                <h6 class="m-0">
                  <i class="bi bi-patch-check-fill"></i>{{ 'sections.password_template.successfully_message' | t }}
                </h6>
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}
        {%- if section.settings.show_pwd == true -%}
          {%- if section.settings.pwd_title != blank -%}
            <div class="newsletter-label alt-font">{{ section.settings.pwd_title }}</div>
          {%- endif -%}
          {%- form 'storefront_password', class: 'password-form' -%}
            <div class="password-field field{% if form.errors %} password-field--error{% endif %} d-inline-block position-relative w-100">
              <input
                type="password"
                name="password"
                id="Password"
                class="{%- if form.errors -%}error{% endif %}"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {% endif %}
                placeholder="{{ section.settings.pwd_placeholder }}"
                required
              >
              <button name="commit" class="btn alt-font">{{ section.settings.pwd_btn_text | default: 'ENTER' }}</button>
            </div>
          {%- endform -%}
        {%- endif -%}
        {%- if section.settings.copyright_text != blank -%}
          <div class="password-copyright">{{ section.settings.copyright_text }}</div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Settings",
  "settings": [
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": "Section background image",
      "info": "Recommended size 1920x1080"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background position",
      "options": [
        {
          "value": "cover-background",
          "label": "Cover"
        },
        {
          "value": "fixed-background",
          "label": "Fixed"
        }
      ],
      "default": "cover-background"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "label": "Show logo",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo image",
      "info": "Recommended size 170x50"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 105
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Website is coming soon"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "description",
      "default": "Be the first to know about new collections and exclusive offers."
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_nl",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter title",
      "default": "Subscribe and get 30% discount!"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email placeholder",
      "default": "Enter your email..."
    },
    {
      "type": "text",
      "id": "nl_btn_text",
      "label": "Button text",
      "default": "NOTIFY ME"
    },
    {
      "type": "header",
      "content": "Password"
    },
    {
      "type": "checkbox",
      "id": "show_pwd",
      "label": "Show password",
      "default": true
    },
    {
      "type": "text",
      "id": "pwd_title",
      "label": "Password title",
      "default": "Enter the password to get access to the site"
    },
    {
      "type": "text",
      "id": "pwd_placeholder",
      "label": "Password placeholder",
      "default": "Enter password"
    },
    {
      "type": "text",
      "id": "pwd_btn_text",
      "label": "Button text",
      "default": "ENTER"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "textarea",
      "id": "copyright_text",
      "label": "Copyright text",
      "default": "&copy; Honho 2022. All Rights Reserved"
    }
  ]
}
{% endschema %}
