<section
  id="{{ section.settings.section_id }}"
  class="section-bg section-{{ section.id }} product-slider-section {% if section.settings.section_show == false %}d-none{% endif %} {{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}"
>
  <div class="{{ section.settings.container_type }} {% if section.settings.show_magic_cursor == true and section.settings.brand_type == 'slider' %}magic-cursor magic-cursor-{{ section.settings.magic_cursor_color_scheme }}{% endif %}">
    <div class="row g-0">
      <div class="col-lg-7 col-xl-8 position-relative product-left-banner">
        <div class="product-banner product-banner-slider swiper h-100">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              <div
                class="swiper-slide banner-item cover-background"
                style="{%- if block.settings.banner_img != blank -%}background-image: url({{ block.settings.banner_img | image_url }});{% endif %}"
              >
              {%- if block.settings.banner_img == blank -%}
                {%- render 'responsive-image', placeholder_type: 'simple-image' -%}
              {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
        <div class="swiper-button-next"><i class="feather-arrow-right"></i></div>
        <div class="swiper-button-prev"><i class="feather-arrow-left"></i></div> 
      </div>
      <div
        class="col-lg-5 col-xl-4 product-main-slider"
        style="{%- if section.settings.product_bg_img != blank -%}background-image: url({{ section.settings.product_bg_img | image_url }});{% endif %}"
      >
        {%- if section.settings.heading != blank
          or section.settings.sub_heading != blank
          or section.settings.description != blank
        -%}
          <div class="row">
            <div class="col-12 text-{{ section.settings.heading_alignment }}">
              {%- if section.settings.sub_heading != blank -%}
                <div class="section-sub-heading">{{ section.settings.sub_heading }}</div>
              {%- endif -%}
              {%- if section.settings.heading != blank -%}
                <h3 class="section-heading alt-font">{{ section.settings.heading }}</h3>
              {%- endif -%}
              {%- if section.settings.description != blank -%}
                <div class="section-description">{{ section.settings.description }}</div>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
        <div class="product-slider-inner">
          <div class="product-slider swiper">
            <div class="product-wrapper swiper-wrapper {{ settings.product_card_style }}">
              {%- for block in section.blocks -%}
                {%- assign product = block.settings.product -%}
                <div class="swiper-slide product-box">
                  {%- if block.settings.product != blank -%}
                    {%- render 'product-card', product: product -%}
                  {%- else -%}                    
                    {%- render 'responsive-image', type: 'product', placeholder_type: 'product-image' -%}
                    <div class="product-footer text-center placeholder-product">
                      <span class="product-title alt-font">{{ 'onboarding.product_title' | t }}</span>
                      <div class="price">{{ 5000 | money }}</div>
                    </div>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      color: {{ section.settings.section_description_color }};
    }
  {%- endif -%}
</style>
{% schema %}
{
  "name": "Product slider",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Premium bags"
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub heading",
      "default": "The luxury collections"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "product_bg_img",
      "label": "Product background image",
      "info": "Recommended size 630x680"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "use_default_section_typography",
      "label": "Use section typography from theme settings",
      "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
      "default": true
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 38
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 26,
      "max": 120,
      "step": 1,
      "default": 43
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 12,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Sub heading size",
      "default": 15
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "label": "Sub heading line height",
      "unit": "px",
      "min": 24,
      "max": 60,
      "step": 1,
      "default": 26
    },
    {
      "type": "range",
      "id": "subheading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Sub heading letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No padding top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment ",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "color",
      "id": "section_sub_heading_color",
      "label": "Section sub heading color"
    },
    {
      "type": "color",
      "id": "section_description_color",
      "label": "Section description color"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Slide item",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "image_picker",
          "id": "banner_img",
          "label": "Slide image",
          "info": "Recommended size 1285x680"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product slider",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
