{%- capture sliderOptions -%}
  "spaceBetween": 30,
  "loop": {{ section.settings.loop }},
  {%- if section.settings.autoplay == true -%}
  "autoplay": {
    "delay": {{ section.settings.auto_speed_delay }},
    "disableOnInteraction": false
  }, 
  {%- endif -%}
  "keyboard":{
    "enabled":true,
    "onlyInViewport":true
  },
  {%- if section.settings.touch_move == false -%}
  "allowTouchMove": false,
  {%- endif -%}
  "navigation": {
    "nextEl": ".testimonial-nav-next",
    "prevEl": ".testimonial-nav-prev"
  },
  "speed": {%- if section.settings.transition_speed != blank -%}{{ section.settings.transition_speed }}{%- else -%}500{%- endif -%},
  "breakpoints": { 
    "480": { "slidesPerView": {{ section.settings.products_limit_mobile }} },
    "768": { "slidesPerView": {{ section.settings.products_limit_tablet }} },
    "992": { "slidesPerView": {{ section.settings.products_limit_mini_desktop }} },
    "1200": { "slidesPerView": {{ section.settings.products_limit_desktop }} } 
  }
{%- endcapture -%}
<section
  id="{{ section.settings.section_id }}"
  class="section-bg testimonial-slider section-{{ section.id }} position-relative overflow-hidden {% if section.settings.section_show == false %}d-none{% endif %} {{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}"
>
  <div class="{{ section.settings.container_type }}">
    {%- if section.settings.heading != blank
      or section.settings.sub_heading != blank
      or section.settings.description != blank
    -%}
      <div class="row heading-wrapper title-{{ section.settings.title_style }} align-items-{% if section.settings.description != blank %}start{% else %}center{% endif %} text-center text-lg-start">
        {%- render 'section-title-style', heading_alignment: section.settings.heading_alignment -%}
        {%- if section.settings.title_style != 'style-1' and section.settings.show_navigation == true -%}
          <div class="col-lg-auto title-style-btn position-relative">
            <div class="swiper-button-prev testimonial-nav-prev"><i class="bi bi-arrow-left"></i></div>
            <div class="swiper-button-next testimonial-nav-next"><i class="bi bi-arrow-right"></i></div>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="swiper {% if section.settings.show_magic_cursor == true %}magic-cursor magic-cursor-{{ section.settings.magic_cursor_color_scheme }}{% endif %}" data-slider-options='{ {{ sliderOptions }} }'>
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide  testimonial">
            <div class="box-inner d-flex flex-wrap">
              <div class="box-content {% if block.settings.testimonial_product == blank %}w-100{% endif %}">
                {%- if block.settings.title != blank -%}
                  <span class="title">{{ block.settings.title }}</span>
                {%- endif -%}
                {%- if block.settings.rating != blank -%}
                  {%- assign rating_vaule = block.settings.rating -%}
                  <div class="rating">
                    {%- for i in (1..rating_vaule) -%}
                      <i class="bi bi-star-fill" style="color: #fd961e;" aria-hidden="true"></i>
                    {%- endfor -%}
                  </div>
                {%- endif -%}
                {%- if block.settings.descripition != blank -%}
                  <p>{{ block.settings.descripition }}</p>
                {%- endif -%}
                {%- if block.settings.author_name != blank or block.settings.designation != blank -%}
                  <div class="author-content">
                    {%- if block.settings.author_name != blank -%}
                      <span class="author-name">{{ block.settings.author_name }}</span>
                    {%- endif -%}
                    {%- if block.settings.designation != blank -%}
                      <div class="designation">{{ block.settings.designation }}</div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
              {%- if block.settings.testimonial_product != blank -%}
                <div class="media" {% if block.settings.media_bg != blank %}style="background-color: {{ block.settings.media_bg }};"{% endif %}>
                  {% assign product = block.settings.testimonial_product %}
                  <div class="product-img">
                    <a href="{{ product.url }}" aria-label="link"><img src="{{ product.featured_image | image_url: width: 160 }}" alt="" width="160" height="{{ 160 | divided_by: product.featured_image.aspect_ratio | round }}" loading="lazy"> </a>
                  </div>
                  <div class="product-content">
                    <a class="product-name" href="{{ product.url }}" aria-label="link">{{ product.title }}</a>
                  </div>
                </div>
              {%- endif -%}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<style>
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_description_color != blank -%}
    .section-{{ section.id }} .section-description {
      color: {{ section.settings.section_description_color }};
    }
  {%- endif -%}
</style>
{% schema %}
{
  "name": "Testimonial slider",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Wrap word in square bracket for stylish word. e.g. [Hello] World",
      "default": "Happy customer words"
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "Title style",
      "default": "style-2",
      "options": [
        {
          "value": "style-1",
          "label": "Style-1"
        },
        {
          "value": "style-2",
          "label": "Style-2"
        },
        {
          "value": "style-3",
          "label": "Style-3"
        }
      ]
    },    
    {
      "type": "header",
      "content": "Slider Configuration"
    },
    {
      "type": "checkbox",
      "id": "show_magic_cursor",
      "label": "Show custom cursor",
      "default": true
    },
    {
      "type": "select",
      "id": "magic_cursor_color_scheme",
      "label": "Custom cursor color scheme",
      "default": "dark",
      "options": [
        {
          "value": "base",
          "label": "Base color"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "transition_speed",
      "label": "Transition speed",
      "default": "500",
      "info": "Enter slide speed time like 500, where 1000 = 1 second"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "text",
      "id": "auto_speed_delay",
      "label": "Autoplay speed delay",
      "default": "2500",
      "info": "Enter delay time (before switching to other slide) like 500, where 1000 = 1 second"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "touch_move",
      "label": "Touch move",
      "info": "It will enable slide change by touch in touch devices.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show navigation",
      "default": true,
      "info": "Not applicable in title style 1"
    },
    {
      "type": "range",
      "id": "products_limit_desktop",
      "min": 1,
      "max": 6,
      "step": 0.1,
      "default": 2.4,
      "label": "Desktop"
    },
    {
      "type": "range",
      "id": "products_limit_mini_desktop",
      "min": 1,
      "max": 6,
      "step": 0.1,
      "default": 2,
      "label": "Mini desktop"
    },
    {
      "type": "range",
      "id": "products_limit_tablet",
      "label": "Tablet",
      "min": 1,
      "max": 6,
      "step": 0.1,
      "default": 1.5
    },
    {
      "type": "range",
      "id": "products_limit_mobile",
      "label": "Mobile",
      "min": 1,
      "max": 6,
      "step": 0.1,
      "default": 1
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "use_default_section_typography",
      "label": "Use section typography from theme settings",
      "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
      "default": true
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 45
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 26,
      "max": 120,
      "step": 1,
      "default": 55
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 12,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Sub heading size",
      "default": 24
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "label": "Sub heading line height",
      "unit": "px",
      "min": 24,
      "max": 60,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "subheading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Sub heading letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No padding top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding button"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment ",
      "default": "start",
      "info": "Not applicable in title style-2",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "color",
      "id": "section_sub_heading_color",
      "label": "Section sub heading color"
    },
    {
      "type": "color",
      "id": "section_description_color",
      "label": "Section description color"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "testimonial-item",
      "name": "Testimonial item",
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "textarea",
          "id": "descripition",
          "label": "Testimonial content",
          "default": "Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit consequuntur"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author name",
          "default": "Author same"
        },
        {
          "type": "text",
          "id": "designation",
          "label": "Designation",
          "default": "Lorem Ipsum"
        },
        {
          "type": "product",
          "id": "testimonial_product",
          "label": "Select product"
        },
        {
          "type": "color",
          "id": "media_bg",
          "label": "Media background color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial slider",
      "blocks": [
        {
          "type": "testimonial-item"
        },
        {
          "type": "testimonial-item"
        },
        {
          "type": "testimonial-item"
        },
        {
          "type": "testimonial-item"
        },
        {
          "type": "testimonial-item"
        }
      ]
    }
  ]
}
{% endschema %}
