<section
  id="{{ section.settings.section_id }}"
  class="section-bg section-{{ section.id }} {% if section.settings.section_show == false %}d-none{% endif %} {{ section.settings.section_class_name }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} d-md-block sm-pt-0"
  style="--section_bg: {% if section.settings.section_gradient != blank %}{{ section.settings.section_gradient }}{% else %}{{ section.settings.section_bg_color }}{% endif %}"
>
  <div class="{{ section.settings.container_type }}">
    <div class="row video-with-text">
      {%- if section.settings.hide_video == true -%}
        <div class="col-lg-{{ section.settings.video_column_width }}">
          <div
            class="banner-left d-flex justify-content-center align-items-center cover-background h-100"
            style="{% if section.settings.poster_image != blank %}background-image: url( {{ section.settings.poster_image | image_url }} );{% else %}background-color: #e9e9e9{% endif %}"
          >
            {%- liquid
              assign popup_class = ''
              if section.settings.video_url contains 'youtube.com'
                assign popup_class = ' mfp-popup-youtube'
              elsif section.settings.video_url contains 'vimeo.com'
                assign popup_class = ' mfp-popup-vimeo'
              endif
            -%}
            {%- if section.settings.video_url != blank and section.settings.hide_video_icon == true -%}
              <a
                href="{{ section.settings.video_url }}"
                class="popup-video video-icon rounded-circle d-flex justify-content-center align-items-center{{ popup_class }}"
                aria-label="popup-video"
              >
              <i class="bi bi-play-fill"></i>
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
      <div class="col-lg-{{ section.settings.content_column_width }} h-100">
        <div
          class="banner-right cover-background h-100"
          style="{% if section.settings.content_image != blank %}background-image: url( {{ section.settings.content_image | image_url }} ){% endif %}"
        >
          <div class="banner-content h-100 d-flex flex-column justify-content-center align-items-start">
            {%- if section.settings.block_sub_heading != blank -%}
              <span class="section-sub-heading">{{ section.settings.block_sub_heading }}</span>
            {%- endif -%}
            {%- if section.settings.block_heading != blank -%}
              <h3 class="section-heading alt-font">{{ section.settings.block_heading }}</h3>
            {%- endif -%}
            <ul>
              {%- for block in section.blocks -%}
                <li>
                  {%- if block.settings.title != blank -%}
                    <span class="alt-font">{{ block.settings.title }}</span>
                  {%- endif -%}
                  {%- if block.settings.description != blank -%}
                    {{ block.settings.description }}
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
          {%- if section.settings.hide_rotation == true and section.settings.rotation_image != blank -%}
            {%- assign image_width = section.settings.rotation_image.width -%}
            {%- assign image_height = section.settings.rotation_image.height -%}
            <div
              class="rotation-image rotate-animation"
              style="width: {{ image_width | append: 'px' }};top: -{{ image_height | divided_by: 2 | append: 'px' }};right: -{{ image_width | divided_by: 2 | append: 'px' }};"
            >
              <img src="{{ section.settings.rotation_image | image_url }}" alt="" width="auto" height="auto" loading="lazy">
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  {%- unless section.settings.use_default_section_typography == true -%}
    .section-{{ section.id }} .section-heading {
      font-size: {{ section.settings.section_heading_size }}px;
      line-height: {{ section.settings.heading_line_height }}px;
    }
    .section-{{ section.id }} .section-sub-heading {
      font-size: {{ section.settings.sub_heading_size }}px;
      letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
      line-height: {{ section.settings.sub_heading_line_height }}px;
    }
  {%- endunless -%}
  {%- if section.settings.section_heading_color != blank -%}
    .section-{{ section.id }} .section-heading {
      color: {{ section.settings.section_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.section_sub_heading_color != blank -%}
    .section-{{ section.id }} .section-sub-heading {
      color: {{ section.settings.section_sub_heading_color }};
    }
  {%- endif -%}
  {%- if section.settings.hide_video == false -%}
    .section-{{ section.id }} .video-with-text .banner-right {
      margin-right: 0;
      padding: 70px;
    }
    @media (max-width: 991px) {
      .section-{{ section.id }} .video-with-text .banner-right {
        padding: 50px;
      }
    }
    @media (max-width: 767px) {
      .section-{{ section.id }} .video-with-text .banner-right {
        padding: 30px;
      }
    }
  {%- endif -%}
</style>
{% schema %}
{
  "name": "Video with text",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Container fluid"
        },
        {
          "value": "w-100 overflow-hidden",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "header",
      "content": "Video block"
    },
    {
      "type": "select",
      "id": "video_column_width",
      "label": "Column width",
      "default": "6",
      "info": "Total columns of whole block should not be more than 12 columns", 
      "options": [
        {
          "value": "1",
          "label": "1 column - 1/12"
        },
        {
          "value": "2",
          "label": "2 columns - 1/6"
        },
        {
          "value": "3",
          "label": "3 columns - 1/4"
        },
        {
          "value": "4",
          "label": "4 columns - 1/3"
        },
        {
          "value": "5",
          "label": "5 columns - 5/12"
        },
        {
          "value": "6",
          "label": "6 columns - 1/2"
        },
        {
          "value": "7",
          "label": "7 columns - 7/12"
        },
        {
          "value": "8",
          "label": "8 columns - 2/3"
        },
        {
          "value": "9",
          "label": "9 columns - 3/4"
        },
        {
          "value": "10",
          "label": "10 columns - 5/6"
        },
        {
          "value": "11",
          "label": "11 columns - 11/12"
        },
        {
          "value": "12",
          "label": "12 columns - 1/1"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "poster_image",
      "label": "Poster image",
      "info": "Recommended size 1000x750"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Youtube or Vimeo video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "info": "Example: https://www.youtube.com/watch?v=xxxxxxx or https://vimeo.com/xxxxxxx"
    },
    {
      "type": "checkbox",
      "id": "hide_video",
      "label": "Show video block",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_video_icon",
      "label": "Show video icon",
      "default": true
    },
    {
      "type": "header",
      "content": "Content block"
    },
    {
      "type": "select",
      "id": "content_column_width",
      "label": "Column width",
      "default": "6",
      "info": "Total columns of all block should not more than 12 columns",
      "options": [
        {
          "value": "1",
          "label": "1 column - 1/12"
        },
        {
          "value": "2",
          "label": "2 columns - 1/6"
        },
        {
          "value": "3",
          "label": "3 columns - 1/4"
        },
        {
          "value": "4",
          "label": "4 columns - 1/3"
        },
        {
          "value": "5",
          "label": "5 columns - 5/12"
        },
        {
          "value": "6",
          "label": "6 columns - 1/2"
        },
        {
          "value": "7",
          "label": "7 columns - 7/12"
        },
        {
          "value": "8",
          "label": "8 columns - 2/3"
        },
        {
          "value": "9",
          "label": "9 columns - 3/4"
        },
        {
          "value": "10",
          "label": "10 columns - 5/6"
        },
        {
          "value": "11",
          "label": "11 columns - 11/12"
        },
        {
          "value": "12",
          "label": "12 columns - 1/1"
        }
      ]
    },
    {
      "type": "text",
      "id": "block_heading",
      "label": "Heading",
      "default": "We believe in quality products"
    },
    {
      "type": "text",
      "id": "block_sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "image_picker",
      "id": "content_image",
      "label": "Content image",
      "info": "Recommended size 800x770"
    },
    {
      "type": "image_picker",
      "id": "rotation_image",
      "label": "Rotation image",
      "info": "Recommended size 170x170"
    },
    {
      "type": "checkbox",
      "id": "hide_rotation",
      "label": "Show rotation image",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "use_default_section_typography",
      "label": "Use section typography from theme settings",
      "info": "By default section typography values will be used from theme settings. Uncheck this checkbox to use below values.",
      "default": false
    },
    {
      "type": "range",
      "id": "section_heading_size",
      "label": "Heading size",
      "unit": "px",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 45
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading line height",
      "unit": "px",
      "min": 35,
      "max": 95,
      "step": 1,
      "default": 45
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "label": "Sub heading size",
      "unit": "px",
      "min": 10,
      "max": 70,
      "step": 1,
      "default": 24
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "label": "Sub heading line height",
      "unit": "px",
      "min": 24,
      "max": 60,
      "step": 1,
      "default": 30
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "default": "small-section-top",
      "options": [
        {
          "value": "large-section-top",
          "label": "Large section"
        },
        {
          "value": "medium-section-top",
          "label": "Medium section"
        },
        {
          "value": "small-section-top",
          "label": "Small section"
        },
        {
          "value": "very-small-section-top",
          "label": "Very small section"
        },
        {
          "value": "pt-0",
          "label": "No padding top"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": "small-section-bottom",
      "options": [
        {
          "value": "large-section-bottom",
          "label": "Large section"
        },
        {
          "value": "medium-section-bottom",
          "label": "Medium section"
        },
        {
          "value": "small-section-bottom",
          "label": "Small section"
        },
        {
          "value": "very-small-section-bottom",
          "label": "Very small section"
        },
        {
          "value": "pb-0",
          "label": "No padding bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "section_show",
      "label": "Show section in mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color"
    },
    {
      "type": "color_background",
      "id": "section_gradient",
      "label": "Gradient background"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Section heading color"
    },
    {
      "type": "color",
      "id": "section_sub_heading_color",
      "label": "Section sub heading color"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "section_class_name",
      "label": "Section class name"
    }
  ],
  "blocks": [
    {
      "type": "list-item",
      "name": "List item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Block title",
          "default": "Soft fabric"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Lorem ipsum is simply dolor amet consectetur adipiscing eiusmod tempor incididunt.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video with text",
      "blocks": [
        {
          "type": "list-item"
        },
        {
          "type": "list-item"
        },
        {
          "type": "list-item"
        }
      ]
    }
  ]
}
{% endschema %}
